
body {
    background: #ebeeef;
    font-family: 'Helvetica';
    font-size:16px;
}
.wrapper {
    width: 1140px;
    margin: auto;
}
.upper_part,.todo-list-wrapper,.bottom_part{
    width:100%;
    float:left;
    padding: 16px;
}
.upper_part span {
    width: 100%;
    display: block;
    text-align: right;
    padding: 16px 0;
    color: #35ba67;
    font-size: 24px;
    border-bottom: 1px solid #c3cbcf;
}
.things_title {
    width: 100%;
    display: block;
    font-size: 36px;
    font-weight: lighter;
}
.todo-list-wrapper ul {
    padding: 16px 0;
}
.todo-list-wrapper ul li {
    width: 100%;
    float: left;
}
.todo-list-wrapper ul li div {
    width: 50%;
    position: relative;
    background: #fff;
    border: 1px solid #cccccc;
    display: block;
    padding:16px 0 16px 16px;
    text-align: center;
}
.todo-list-wrapper ul li:nth-child(2n) div {
    float: right;
}
.todo-list-wrapper li div input[type="text"] {
    border: none;
    vertical-align: middle;
    font-size: 24px;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
    outline: none;
}

#new-todo{
    border: none;
    vertical-align: middle;
    font-size: 24px;
    width: 50%;
    white-space: nowrap;
        border: 1px solid #cccccc;

}


.todo-list-wrapper li div .check_icon {
    background: #fff;
    color: #ccc;
    border: 2px solid #ccc;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
}


.todo-list-wrapper i.fa.fa-caret-left {
    font-size: 36px;
    vertical-align: middle;
    color: #ccc;
    float:right;
}
.todo-list-wrapper ul li:nth-child(2n) div i.fa.fa-caret-left {
    position:absolute;
    left:0;
    transform: rotate(180deg);
}
.bottom_part i.fa.fa-plus-square-o {
    vertical-align: middle;
    color: #9e2ccd;
    display: inline-block;
    text-align: center;
    width: 25%;
    font-size: 50px;
    margin: auto;
}

.done .check_icon {
    background: #35ba67!important;
    color: #fff!important;
    border-color: #399c5e!important;
}
.done input[type="text"] {
   color:#cdd3d7!important;
}
.clickable_cursor{
    cursor: pointer;
}

.fa.fa-trash-o {
    color: #9B1315;
    font-size: 30px;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: top;
}

/*responsive css*/

@media (max-width:1140px){
    .wrapper {
        width: 100%;
    }
    .todo-list-wrapper ul li div {
        width: 100%;
    }
    .todo-list-wrapper ul li:nth-child(2n) div {
        float: left;
    }
    .todo-list-wrapper i.fa.fa-caret-left{
        display:none;
    }
    .bottom_part i.fa.fa-plus-square-o {
        width: auto;
        float: right;
    }
    #new-todo{
        width: 100%;
    }
}
